<div class="container mt-5 shadow p-5 border rounded rounded-3 border w-75">
    <div style="margin-top: 20px;" class="container w-75">

        <form method="GET" action="/scrap">
            <div class="mb-3">
                <label class="form-label"><b class="text-secondary">Enter URL to SCRAP</b></label>
                <input type="text" name="url" class="form-control" id="exampleInputSurname" placeholder="example.com">
            </div>
    </div>
    <div style="padding-top: 5px;" class="text-center my-3 py-3">
        <button class="btn btn-danger mx-3" type="submit">Enter</button>
    </div>
    </form>
</div>
</div>